body {
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

hr {
    margin: 0;
}

pre {
    padding: 20px;
    background: lightgray;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .container {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        margin-left: 14%;
        margin-right: 14%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin-left: 18%;
        margin-right: 18%;
    }
}